<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Company Account Info</title>
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous">
</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<h4><a href="/company">Home Page</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<h4><a href="/employee">Employees</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/salaryInfo">Rank wise salary distribution</a></h4>
		</div>
	</div>
</nav>

<br>
<br>

	<div align="center">
		<h1>Company Account Info</h1>
		<br />
		<div>
			<label>Current Balance (BDT): </label><p th:text="${company.account}"></p>
		</div>
		<form th:action="@{/company/addToAccount}" th:object="${company}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Add Amount:</td>
					<td><input type="text" th:name="addedAmount" required="required"/></td>
					<td colspan="2"><button type="submit">Add</button></td>
				</tr>
			</table>
		</form>
		
		<div>
		<form name="transfer" th:action="@{/company/transfer}" th:object="${company}"
			method="post" onsubmit="return validateTransferSalary()">
			<label>Current Total Payable Salary (BDT): </label><p th:text="${company.salary}"></p>
			<br><h1>Transfer salaries to Employee Account</h1>
			<button type="submit" >Transfer Salary</button>
		</form>
		</div>
		
		<h1>Calculate Employee Salaries</h1>
		
		<form th:action="@{/company/calculateSalary}" 
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Enter basic salary:</td>
					<td><input type="text" th:name="basicSalary" required="required"/></td>
					<td colspan="2"><button type="submit">Calculate</button></td>
				</tr>
			</table>
		</form>
		
		
		
	</div>

<script th:inline="javascript">
	function validateTransferSalary() {
		var a=[[${company.salary}]];
		var b=[[${company.account}]];
		if (b < a) {
			alert("The company bank account run out of money Please insert money");
			return false;
		}
	}
</script>
</body>
</html>